/* Title slide */
.reveal .title-slide h1 {
    font-size: 3em;       /* Main title */
    color: #003366;
    margin-bottom: 0.2em;
}

.reveal .title-slide h2 {
    font-size: 2em;       /* Subtitle */
    color: #0055aa;
    margin-top: 0;
}

.reveal .title-slide .author,
.reveal .title-slide .date {
    font-size: 1em;       /* Author and date/lecture number */
    color: #00FF03; /* changed color by HA, new color = Lime */
    margin-top: 0.5em;
}

/* Other slides */
.reveal h1 {
    font-size: 2em;
}
.reveal h2 {
    font-size: 1.6em;
}
.reveal h3 {
    font-size: 1.3em;
}

