/* Title slide */

.reveal .title-slide h1 {
    font-size: 3em;       /* Main title */
    color: #009688; /*Replaced Red with Teal */
    margin-bottom: 0.2em;
}

.reveal .title-slide h2 {
    font-size: 2em;       /* Subtitle */
    color: #aa0000;
    margin-top: 0;
}

.reveal .title-slide .author,
.reveal .title-slide .date {
    font-size: 1em;       /* Author and date/lecture number */
    color: #00d9ff;
    margin-top: 1em; /*Changed 0.5em to 1em
}

/* Other slides */
.reveal h1 {
    font-size: 2em;
}
.reveal h2 {
    font-size: 1.6em;
}
.reveal h3 {
    font-size: 1.3em;
}

